body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #9c2da8;
  font-family: 'Indie Flower', cursive;

}
.container{
  border: 1px solid #512E62;
}

.container:hover .cuadrado{
transform: scale(2, .5);
}
.cuadrado{
  width: 200px;
  height: 200px;
  /*background: #9C2DA8;*/
  margin: 20px;
  transition: .3s;
}
