body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #9c2da8;
  font-family: 'Indie Flower', cursive;
  perspective: 200px;
  perspective-origin: center;
}
.container{
  border: 1px solid #512E62;
}

.container:hover .cuadrado{
  transform: translate(-100px);
  transform: translate3d(-100px, -100px, -100px);
}
.cuadrado{
  width: 200px;
  height: 200px;
  /*background: #9C2DA8;*/
  margin: 20px;
  transition: .3s;
}
