body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #9c2da8;
  font-family: 'Indie Flower', cursive;
  background: #74ECBF;
}
.container{
  border: 1px solid #512E62;
  width: 100%;
}

.container:hover .cuadrado{
  animation-play-state: paused;

}
.cuadrado{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  /*transition: .3s;*/
  animation-name: cuadrado, rebote;
  display: flex;
  /*align-items: center;*/
  align-items: flex-start;
  justify-content: center;
  animation-duration: 3s, .3s;
  /*animation-delay: 1s;*/
  animation-iteration-count: infinite, 20;
  /*animation-timing-function: ease;*/
  animation-direction: alternate;
  /*animation-fill-mode: forwards;*/
  /*animation-timing-function: cubic-bezier(.75, -0.31, .33, 1.4);*/
  animation-timing-function: linear, ease-in-out;
  position: relative;
}
@keyframes cuadrado{
  0%{
    /*opacity: 1;*/
    left: 0;
  }
  100%{
    /*opacity: 0;*/
    left: calc(100% - 240px);
  }
}
@keyframes escalera {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(500px);
  }
}
@keyframes rebote {
  /*0%*/
  from{
    transform: translateY(0);
  }
  /*100%*/
  to{
    transform: translateY(100px) scale(1, .8);
  }
}
